[submodule "slimserver"]
	path = source/server
	url = https://github.com/Logitech/slimserver.git
	branch = public/7.9
[submodule "slimserver-vendor"]
	path = source/vendor
	url = https://github.com/logitech/slimserver-vendor.git
	branch = public/7.9
[submodule "slimserver-platforms"]
	path = source/platforms
	url = https://github.com/Logitech/slimserver-platforms.git
	branch = public/7.9
[submodule "source/faad2-lms"]
	path = source/faad2-lms
	url = https://github.com/ralph-irving/faad2.git
[submodule "source/dsdplay"]
	path = source/dsdplay
	url = https://github.com/SqueezeOnArch/dsdplay.git
